.card {
    width: 100%;
    color: #000;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 20px;
    outline: none;
}

.card>hr {
    margin-right: 0;
    margin-left: 0;
}

.card>.list-group {
    border-top: inherit;
    border-bottom: inherit;
}

.card>.list-group:first-child {
    border-top-width: 0;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card>.list-group:last-child {
    border-bottom-width: 0;
    border-bottom-right-radius: calc(0.25rem - 1px);
    border-bottom-left-radius: calc(0.25rem - 1px);
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
    border-top: 0;
}

.card_body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.active_menuLink {
    color: #000;
    font-weight: 500;
    border-left: 4px solid #0dcaf0;
    background: #ffffff78;
}

.menuLiLeft {
    cursor: pointer;
    border-radius: 5px;
}

.menuLiLeft a {
    text-decoration: none;
    padding-left: 1rem;
    color: #767b81;
}

#avatar {
    height: 6.125rem;
    width: 6.125rem;
}